<h2><%= @task.title %></h2>

<button type="button" class="btn btn-primary"><%= link_to "Edit", edit_path(@task) %></button>

<div>
  <p><% if @task.completed == true %>
      <input type="checkbox" checked>
      <% else %>
      <input type="checkbox" id="done" name="task_done" value="false">
   <% end %>
   </p>
  <p><%= @task.details %></p>
</div>

<h3><%= link_to "Back to the list", tasks_path %></h3>



