// Place all the styles related to the task controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
ul {
   list-style-type: none;
}


li {
  display: flex;
  margin: 32px 0px;
  padding: 10 px;
}

p {
  padding: 10px;
}

input {
  margin: 32px 0px;
  padding: 10px;
}
